.start{
    margin-top: 60px;
    padding:5px;
    margin-left: 10px;
    width:80px;
    
}
.reset{
    margin-top: 60px;
    padding:5px;
    margin-left:10px;
    width:80px;
    
}
.resume{
    margin-top: 60px;
    padding:5px;
    margin-left:10px;
    width:80px;
    
}
.pause{
    margin-top: 60px;
    padding:5px;
    margin-left:10px;
    width:80px;
    
}
.span{
    margin-top:40px;
    font-size: 30px;
}
